@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  background: #d8d9db;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2 {
  text-align: center;
  font-weight:300;
  margin-bottom: 20px;
}

li {
  list-style: none;
  padding: 5px;
  font-size: 17px;
}

.nav-bar ul li {
  margin: 2px;
  font-size: 18px;
}

.pstyle {
 margin-top: 10px;
 margin-bottom: 10px;
}

.list_present {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  border: solid 2px #72a0c1;
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 60%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.list_present li {
  margin: 20px;
  padding: 15px;
  background: #ffff;
  animation: slidein 2s;
}

.removeBook {
  float: right;
  border: solid 1px red;
  padding: 10px;
  cursor: pointer;
  color: red;
}

.divider {
  width: 200px;
  border: solid;
  margin: 30px auto;
}

.addBookForm {
  text-align: center;
}

.addBookForm input[type="text"] {
  width: 100%;
  border: solid 1px #72a0c1;
  border-radius: 1px;
  height: 40px;
  padding-left: 10px;
}

.addBookForm ul {
  margin: 0 auto;
}

.addBookForm input[type="button"] {
  width: 50px;
  box-shadow: 5px 5px;
  margin-right: 0;
  float: right;
}

.wrapText {
  width: 400px;
  word-break: break-all;
}

.container {
  display: flex;
  min-height: 93vh;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background: #ffff;
  padding: 10px;
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
  background: #ffff;
  height: 50px;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav-bar ul li a {
  text-decoration: none;
  color: black;
}

.appname {
  flex: 5;
}

.todaysDate {
  display: flex;
  align-self: flex-end;
  width: 300px;
  margin-top: 20px;
}

.contactSection {
  display: flex;
  flex-direction: column;
}

.contactSection p {
  text-align: center;
  margin-bottom: 50px;
}

.contactSection ul {
  width: 20%;
  margin: 0 auto;
}

.contactSection,
.addBookSection {
  display: none;
}

.addBookSection {
  width: 600px;
  margin: 0 auto;
}

.msg {
  display: none;
  transition: all ease-in 2s;
}
