@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  background: #d8d9db;
}

ul {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-weight:300;
}

li {
  list-style: none;
  padding: 5px;
  font-size: 17px;
}

.nav-bar ul li {
  margin: 2px;
  font-size: 18px;
}

.list_present li:nth-child(odd) {
  background: #d3d3d3;
}

.list_present {
  max-height: 500px;
  width: 800px;
  overflow-y: auto;
  border: solid 1px;
  margin: 0 auto;
  border-radius: 10px;
}

.removeBook {
  margin-right: 5px;
  float: right;
  height: 25px;
  box-shadow: 5px 5px;
}

.divider {
  width: 200px;
  border: solid;
  margin: 30px auto;
}

.addBookForm {
  text-align: center;
}

.addBookForm input[type="text"] {
  width: 100%;
  border: solid 2px;
  border-radius: 5px;
  height: 30px;
}

.addBookForm ul {
  margin: 0 auto;
}

.addBookForm input[type="button"] {
  width: 50px;
  box-shadow: 5px 5px;
  margin-right: 0;
  float: right;
}

.wrapText {
  width: 400px;
  word-break: break-all;
}

.container {
  display: flex;
  min-height: 93vh;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background: #ffff;
  padding: 10px;
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
  background: #ffff;
  height: 50px;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav-bar ul li a {
  text-decoration: none;
  color: black;
}

.appname {
  flex: 5;
}

.todaysDate {
  display: flex;
  align-self: flex-end;
  width: 200px;
  margin-top: 20px;
  padding-right: 20px;
}

.contactSection {
  margin-top: 30px;
  text-align: center;
}

.contactSection,
.addBookSection {
  display: none;
}

.addBookSection {
  width: 600px;
  margin: 0 auto;
}

.msg {
  color: green;
  display: none;
  transition: 2s;
}
